
# deployment 

apiVersion: apps/v1
kind: Deployment

metadata:
  name: post-depl

spec:
  replicas: 1

  selector:
    matchLabels:
      app: posts

  template:
    metadata:
      labels:
        app: posts

    spec:
      containers:
        - name: post-service
          image: sidnaseem/post-service:latest

---
# NodePort for access it outside of cluster
apiVersion: v1

kind: Service

metadata:
  name: post-srv
spec:
  type: NodePort
  selector:
    app: posts
  ports:
    - name: posts
      protocol: TCP
      port: 3000
      targetPort: 3000

---
# cluster_ip access other pods inside k8s cluster

apiVersion: v1

kind: Service
metadata:
  name: post-clus-srv
spec:
  type: ClusterIP
  selector:
    app: posts
  ports:
    - name: posts
      port: 3000
      targetPort: 3000